@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========= All FONTS ========= */
/* Graphik */
@font-face {
  font-family: "Graphik Regular";
  src: url("../fonts/Graphik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Graphik Semibold";
  src: url("../fonts/Graphik-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Graphik Bold";
  src: url("../fonts/Graphik-Bold.ttf") format("truetype");
}

/* Amiri */
@font-face {
  font-family: "Amiri";
  src: url("../fonts/Amiri-Regular.ttf") format("truetype");
}

/* Poppins */
@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Graphik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins ExtraBold";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@layer base {
  /* ========= SCROLL BAR ========= */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-panel;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-violet;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#805fc2];
  }

  /* ========= GLOBAL ========= */
  body {
    @apply text-grayDark;
  }
  a {
    @apply font-linksR;
  }
  ::selection {
    @apply bg-violet;
  }
}

@layer components {
  .custom-btn {
    @apply bg-white rounded-md py-2 font-linksR text-grayLight
    lg:pl-7;

    background: #f1f1f1;
    box-shadow: 4px 4px 8px #cdcdcd, -4px -4px 8px #ffffff;
  }
  .overlap-title {
    @apply opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-90 absolute bottom-0 left-0 right-0 bg-zinc-700 px-6 py-4 text-white duration-200;
  }
  /* ========= ALL LINKS ========= */
  /* Navigation */
  .navlinks-active {
    @apply mx-auto block w-full border border-black;
  }
  .navlinks-hover {
    @apply mx-auto ease-out duration-300 block w-0 border border-white group-hover:w-full group-hover:border group-hover:border-grayLight;
  }
  /* Footer */
  .footer-links {
    @apply font-linksR text-[22px] capitalize text-grayLight hover:text-black lg:hover:text-grayLight;
  }
  .footerlinks-active {
    @apply block w-full border border-black;
  }
  .footerlinks-hover {
    @apply duration-300 block w-0 border border-white group-hover:w-full group-hover:border group-hover:border-grayLight;
  }
  /* About > Skills */
  .skills-heading {
    @apply text-2xl text-grayLighter font-sansSB;
  }
}

@layer utilities {
  .section-container {
    @apply container mx-auto px-6 md:px-24;
  }
  .section-container-fluid {
    @apply w-11/12 mx-auto;
  }
  .socket {
    @apply border-t-[1px] border-t-grayLighter w-full;
  }
  .auto-hyphen {
    hyphens: auto;
  }
  .off-hyphen {
    hyphens: none;
  }
  .custom-border-dashed {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    @apply px-12 py-8;
  }
}
